.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#mario {
    width: 64px;
    height: 64px;
    background-color: transparent;
    background-image: url(assets/mario_64pixel.png);
    background-size: 64px 64px;
    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    25% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    75% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

#pipe {
    width: 64px;
    height: 64px;
    position: relative;
    top: 87px;
    left: 536px;
    background-color: transparent;
    background-image: url(assets/mario_64pixel.png); /* This needs to be changed to its proper image once done */
    background-size: 64px 64px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 536px;
    }

    100% {
        left: -64px;
    }
}